.ResumeHeader {
  display: grid;
}

.ResumeHeader-title {
  order: 1;
  width: 100%;
}

.ResumeHeader-contact {
  margin: 1rem 0;
  order: 2;
  width: 100%;
}

.ContactList {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.ResumeHeader-summary {
  font-size: 1.414rem;
  order: 3;
  /*max-width: 550px;*/
  width: 100%;
}

.ResumeHeader-summary p {
  margin-bottom: inherit;
}

.Title-primary {
  background-color: #FEBF00;
  border-radius: 5px;
  clear: left;
  float: left;
  display: inline-block;
  font-size: 1.999rem;
  margin-top: 0;
  padding: 3px 10px;
}

@media (min-width: 800px) {
  .Title-primary {
    font-size: 2.827rem;
  }
}
