.Job {
  margin-bottom: 2rem;
  break-inside: avoid;
}

.Job-link {
  font-weight: 300;
}

.Job-meta {
  font-weight: 400;
  display: block;
  border-left: solid 5px #FBFF00;
  margin: 0;
  padding: 5px 10px;
}

.Job-meta__time {
  display: block;
  font-style: italic;
}

.Job-meta a {
  font-weight: inherit;
}
