.Resume {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
        "header"
        "main"
        "sidebar";
  margin: 0 auto;
  max-width: 980px;
  padding: 35px 20px;
  width: 100%;
}

@media (min-width: 700px) {
  .Resume {
    grid-template-areas:
          "header header"
          "main sidebar";
    grid-template-columns: 3fr 1fr;
    padding: 50px 35px;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  .Resume {
    grid-template-areas: 
      "header header"
      "main sidebar";
    grid-template-columns: 3fr 1fr;
    padding: 0;
  }
}

@page {
  size: auto;
  margin: 15mm 10mm 10mm 10mm;
}

.Resume-header {
  grid-area: header;
}

.Resume-career {
  grid-area: main;
}

.Resume-extra {
  grid-area: sidebar;
  display: grid;
  grid-gap: 1rem;
  align-content: start;
  grid-template-areas: "one";
}

@media (min-width: 500px) {
  .Resume-extra {
    grid-template-areas: "one two";
  }
}

@media (min-width: 700px) {
  .Resume-extra {
    grid-template-areas: "one";
  }
}

@media print {
  .Resume-extra {
    grid-template-areas: "one";
  }
}
