.Resume {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
        "header"
        "main"
        "sidebar";
  margin: 0 auto;
  max-width: 980px;
  padding: 35px 20px;
  width: 100%;
}

@media (min-width: 767px) {
  .Resume {
    grid-template-areas:
          "header header"
          "main sidebar";
    grid-template-columns: 3fr 1fr;
    padding: 50px 35px;
  }
}

.Resume-header {
  grid-area: header;
}

.Resume-career {
  grid-area: main;
}

.Resume-extra {
  grid-area: sidebar;
}
