.Resume {
  /*display: flex;
  flex-wrap: wrap;*/
  margin: 0 auto;
  max-width: 900px;
  padding: 50px;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
        "header header"
        "main sidebar";
}

.Resume-header {
  grid-area: header;
}

.Resume-career {
  grid-area: main;
  /*margin-right: 5%;*/
  /*width: 65%;*/
}

.Resume-extra {
  grid-area: sidebar;
}
