/*
  Type scale: 1.414
 */
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #3E3B3B;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 1.414rem 0 0.5rem;
}

h1 {
  font-size: 3.998rem;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

p {
  margin-bottom: 1.3em;
}

strong {
  font-weight: 400;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #FBFF00;
}

a:hover {
  border-bottom-color: inherit;
}
